---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vinted Bot - Features">
  <!-- Main -->
  <section id="main" class="container">
    <header>
      <h2>Features</h2>
      <p>Here are some of the features of Vinted Bot</p>
    </header>
    <div class="box">
      <h3>Custom Vinted tracking</h3>
      <p>
        With the /sub command, you can subscribe to a specific keyword with the
        desired filters. When a new listing with that keyword or/and the
        selected filters is posted, you will be notified in a Discord channel.
      </p>
      <img
        src="/images/example-en.png"
        alt="example"
        style="width: 50%; display:
						block; margin-left: auto; margin-right: auto;"
      />
      <h3>Views booster</h3>
      <p>
        With the /views command, you can boost the views of a listing. The bot
        will automatically give the listing the desired number of views.
      </p>
      <img
        src="/images/views-en.png"
        alt="views"
        style="width: 50%; display:
						block; margin-left: auto; margin-right: auto;"
      />
      <h3>Advanced user info</h3>
      <p>
        By clicking the "Seller info" button on any notification, you will
        receive a message that includes a trust rating and other information
        about the user.
      </p>
      <img
        src="/images/userinfo-en.png"
        alt="seller-info"
        style="width: 50%;
						display: block; margin-left: auto; margin-right: auto;"
      />
      <h3>Analytics</h3>
      <p>
        With the /analytics command, you can get a detailed report about the
        price of items in your research.
      </p>
      <img
        src="/images/analytics-en.png"
        alt="analytics"
        style="width: 50%;
						display: block; margin-left: auto; margin-right: auto;"
      />
    </div>
  </section>
</Layout>
