---
import Layout from "../layouts/Layout.astro";
import "../styles/css/how-does-it-work.css"
---

<Layout title="Vinted Bot - How does it work">
  <!-- Main -->
  <div class="desktop">
    <div id="main" class="wrapper style1">
      <div class="container">
        <header class="major">
          <h2>How does it work</h2>
          <p>The Bot allows you to be notified as soon as a product arrives</p>
        </header>
        <div class="row gtr-150">
          <div class="col-4 col-12-medium">
            <!-- Sidebar -->
            <section id="sidebar">
              <section>
                <h3>Select your filters</h3>
                <p>
                  Go to <a href="https://vinted.com">vinted</a> and search using
                  the desired filters. All new articles coming to appear on the page
                  will be notified.
                </p>
                <footer>
                  <ul class="actions"></ul>
                </footer>
              </section>
              <hr />
              <section>
                <a href="#" class="image fit"
                  ><img src="/images/sub.png" alt="" /></a
                >
                <h3>Use Discord to start the Bot</h3>
                <p>
                  It is possible to use the /sub command on Discord followed by
                  the search url to start the bot.
                </p>
                <footer>
                  <ul class="actions"></ul>
                </footer>
              </section>
            </section>
          </div>
          <div class="col-8 col-12-medium imp-medium">
            <!-- Content -->
            <section id="content">
              <a href="#" class="image fit"
                ><img src="/images/vinted.png" alt="" /></a
              >
              <h3>Send us the link corresponding to your search</h3>
              <p>
                If you don't have access to Discord or don't want to use the
                previous method, you can send us the link.
              </p>
              <p>
                You will be added as soon as possible to a channel corresponding
                to your request and you will receive notifications as soon as an
                item arrives
              </p>
              <h3>Receive your notifications</h3>
              <p>
                Once the url has been added to the channel, you will start
                receiving notifications as soon as an article is published.
              </p>
              <p>Here is an example of a message sent by the Bot:</p>
              <a href="#" class="image fit"
                ><img src="/images/example-en.png" alt="" /></a
              >
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile">
    <div class="wrapper style1">
      <header class="major">
        <h2>How does it work</h2>
        <p>The Bot allows you to be notified as soon as a product arrives</p>
      </header>
      <div class="row gtr-150">
        <div class="col-4 col-12-medium">
          <section id="sidebar">
            <section>
              <h3>Select your filters</h3>
              <p>
                Go to <a href="https://vinted.com">vinted</a> and search using the
                desired filters. All new articles coming to appear on the page will
                be notified.
              </p>
              <a href="#" class="image fit"
                ><img src="/images/vinted.png" alt="" /></a
              >
              <footer>
                <ul class="actions"></ul>
              </footer>
            </section>
            <hr />
            <section>
              <a href="#" class="image fit"
                ><img src="/images/sub.png" alt="" /></a
              >
              <h3>Use Discord to start the Bot</h3>
              <p>
                It is possible to use the /sub command on Discord followed by
                the search url to start the bot.
              </p>
              <h3>Send us the link corresponding to your search</h3>
              <p>
                If you don't have access to Discord or don't want to use the
                previous method, you can send us the link.
              </p>
              <p>
                You will be added as soon as possible to a channel corresponding
                to your request and you will receive notifications as soon as an
                item arrives
              </p>
              <h3>Receive your notifications</h3>
              <p>
                Once the url has been added to the channel, you will start
                receiving notifications as soon as an article is published.
              </p>
              <p>Here is an example of a message sent by the Bot:</p>
              <a href="#" class="image fit"
                ><img src="/images/example-en.png" alt="" /></a
              >
              <footer>
                <ul class="actions"></ul>
              </footer>
            </section>
          </section>
        </div>
      </div>
    </div>
</Layout>
