---
import Layout from "../layouts/Layout.astro";
import vintedlogo from "../images/vinted.webp";
import { Image } from "astro:assets";
---

<Layout
  title="Fast and Affordable Vinted Bot - Automate Your Vinted Activities"
>
  <!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h2>Vinted Bot</h2>
        <p>
          The Best Item Tracking Solution<br />
          Fast and efficient, the bot guarantees a profit
        </p>
      </header>
      <span class="image"
        ><Image
          src={vintedlogo}
          alt="Vinted Bot logo"
          loading={"eager"}
        /></span
      >
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
  </section>

  <!-- One -->
  <section id="one" class="spotlight style1 bottom">
    <span class="image fit main"
      ><img src="/images/discordnotif.jpeg" alt="" /></span
    >
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-4 col-12-medium">
            <header>
              <h2>Notifications on all your devices</h2>
              <p>
                The Bot uses the notification system integrated into discord in
                order to notify you as quickly as possible.
              </p>
            </header>
          </div>
          <div class="col-4 col-12-medium">
            <p>
              Be notified as soon as a wanted item arrives with notifications
              sent via Discord. Dominate the buy-resell market by using the
              notification system to be aware of the releases of the most
              important articles.
            </p>
          </div>
          <div class="col-4 col-12-medium">
            <p>
              Whether you are on iPhone, Mac, Windows, Linux, or Android,
              receive your notifications at any time. Discord allows
              compatibility with all your devices.
            </p>
          </div>
        </div>
      </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
  </section>

  <!-- Two -->
  <section id="two" class="spotlight style2 right">
    <span class="image fit main"><img src="/images/speed.svg" alt="" /></span>
    <div class="content">
      <header>
        <h2>Fast and effective</h2>
        <p>Be ahead of the competition with its speed</p>
      </header>
      <p>
        Update requests made by the Bot are sent from several data centers to
        allow unparalleled speed.
      </p>
      <ul class="actions">
        <li>
          <a
            href="https://docs.thebotbay.com/docs/intro"
            class="button"
            target="_blank">How does it work?</a
          >
        </li>
      </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
  </section>

  <!-- Three -->
  <section id="three" class="spotlight style3 left">
    <span class="image fit main bottom"
      ><img src="/images/prix.svg" alt="" /></span
    >
    <div class="content">
      <header>
        <h2>An affordable price</h2>
        <p>
          A free preview is available, and the paid plan is accessible for only
          €10 per month making it one of the most affordable on the market.
        </p>
      </header>
      <p>
        We are currently offering one of the most affordable price plans. The
        price is used to cover data center costs, development time, and the
        support available each day of the week.
      </p>
      <ul class="actions">
        <li><a href="pricing" class="button">Pricing</a></li>
      </ul>
    </div>
    <a href="#four" class="goto-next scrolly">Next</a>
  </section>

  <!-- Four -->
  <section id="four" class="wrapper style1 special fade-up">
    <div class="container">
      <header class="major">
        <h2>Don't wait, just try the <a href="pricing">free version!</a></h2>
        <p>
          The number of available slots to use the Bot is limited, why wait when
          the opportunity is there
        </p>
      </header>
      <div class="box alt">
        <div class="row gtr-uniform">
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-chart-area"></span>
            <h3>Price</h3>
            <p>
              A fixed price that makes it easy to make a profit from the resale
              of items.
            </p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-comment"></span>
            <h3>Support</h3>
            <p>Support is available every day to help you with any issues.</p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-flask"></span>
            <h3>Development</h3>
            <p>
              The Bot is regularly updated in order to offer a service that is
              still as efficient as ever.
            </p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-paper-plane"></span>
            <h3>Notifications</h3>
            <p>
              Receive notifications as soon as the articles you want appear.
            </p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-file"></span>
            <h3>Stable</h3>
            <p>
              Thanks to the multiple data centers used, the Bot will never be
              offline.
            </p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-lock"></span>
            <h3>Secured</h3>
            <p>
              Payments are made via Stripe, one of the most secure and
              well-known platforms in the field of online payment.
            </p>
          </section>
        </div>
      </div>
      <footer class="major">
        <ul class="actions special">
          <li><a href="pricing" class="button">Pricing</a></li>
        </ul>
      </footer>
    </div>
  </section>
</Layout>
