---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vinted Bot - QNA">
  <!-- Main -->
  <div id="main" class="wrapper style1">
    <div class="container">
      <header class="major">
        <h2>QNA</h2>
        <p>You can find here the most asked questions about the Bot.</p>
      </header>

      <!-- Lists -->
      <ul class="alt">
        <li></li>
        <li class="question">What is the price of the Bot?</li>
        <li></li>
        <p>
          The basic version of the bot is completely free. There are also paid
          plans that remove the limits imposed by the free version of the Bot.
          To learn more, click the "Buy" button
        </p>
        <li class="question">Is it possible to earn money with this it?</li>
        <li></li>
        <p>
          Thanks to the advantages given by the Bot, the purchase-resale on
          Vinted is made much easier and allows you to make a larger profit.
        </p>
        <li class="question">
          I decided to buy the Bot, when will I be able to use it?
        </li>
        <li></li>
        <p>
          With Discord Linked Roles, you can start using our bot right away! To
          claim your subscription, click on the server name, navigate to the
          linked roles page, and select your subscription. Once you've claimed
          your role, you'll have access to all the features of the bot. If you
          encounter any issues during the setup process, please don't hesitate
          to reach out to our support team for assistance. We're always here to
          help you get the most out of our bot and ensure a seamless experience
          for you and your server members.
        </p>
        <li class="question"></li>
        <p>
          Thanks to stripe, it is possible to manage the subscription to the Bot
          easily, you can unsubscribe at any time by consulting the dashboard ,
          if you do not have access to it, you can contact the staff in order to
          make a request to stop the subscription. (This request will be taken
          care of within 24 hours)
        </p>
      </ul>
    </div>
  </div>
</Layout>
