---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vinted Bot - Signup">
  <!-- Main -->
  <article id="main">
    <header class="special container">
      <h2><span class="icon solid fa-lock"></span> Signup</h2>
      <p>Create credentials to signup</p>
    </header>

    <form class="signup">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Your email.." />
      <br />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Your password.."
      />
      <br />
      <input type="checkbox" id="terms" name="terms" value="terms" />
      <label for="terms"
        >By signing up, I agree to the <a href="privacy">Terms and Conditions</a
        ></label
      >
      <br />
      <input type="submit" value="Signup" />
    </form>
    <p class="error"></p>
    <br />
    <p>Already have an account? <a href="login">Login</a></p>
  </article>
</Layout>
