<div class="text-center">
<a class="affiliation text-white bg-primary-600 font-bold rounded-lg text-sm px-5 py-2.5 text-center hover:cursor-pointer ">Register to affiliate program</a>
</div>
<style>
    a {
        border-bottom: none !important;
    }
</style>
<script>
    import {
  httpsCallable
} from "firebase/functions";
import {
  functions
} from "../firebase/client";
const affiliation = document.querySelector('.affiliation')
    affiliation.addEventListener('click', () => {
        affiliation.innerHTML = `
        <svg class="animate-spin -ml-1 mr-3 h-4 w-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        Processing...
        `;
          affiliation.classList.add('hover:cursor-wait');
  const url = httpsCallable(functions, "createAffiliateOnboardingUrl");
  url().then((result) => {
    window.location.href = result.data;
  });
    });
</script>