---
import Layout from "../../../layouts/Layout.astro";
import GoogleLogin from "../../../components/GoogleLogin.astro";
---

<Layout title="Vinted Bot - Connexion" userLang="fr">
  <!-- Main -->
  <article id="main">
    <header class="special container">
      <h2><span class="icon solid fa-lock"></span> Connexion</h2>
      <p>Entrez vos identifiants pour vous connecter</p>
    </header>

    <GoogleLogin />

    <form class="login">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Votre email.." />
      <br />
      <label for="password">Mot de passe</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Votre mot de passe.."
      />
      <br />
      <input type="submit" value="Connexion" />
      <p class="error"></p>
      <br />
      <p>Vous n'avez pas de compte ? <a href="inscription">Inscription</a></p>
    </form>
</Layout>

<style lang="scss">
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #email, #password, #terms, #login {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #email, #password {
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  // make the label go on the left of the input
  label {
    display: inline-block;
    width: 30%;
    text-align: left;
    margin: 0;
  }
  .special {
    margin-top: 2%;
    text-align: center;
  }
input {
  margin-top: 16px;
}

  @media screen and (max-width: 738px) {
    #email, #password, #terms, #login {
      width: 80%;
    }
    label {
      width: 80%;
    }
    
  }
</style>