---
import Layout from '../../../layouts/Layout.astro'
---

<Layout title="Vinted Bot - FAQ" userLang="fr">
  <div id="main" class="wrapper style1">
    <div class="container">
      <header class="major">
        <h2>FAQ</h2>
        <p>
          Vous pouvez retrouver ici les questions les plus demandées sur le Bot.
        </p>
      </header>

      <!-- Lists -->
      <ul class="alt">
        <li></li>
        <li class="question">Quel est le prix du Bot ?</li>
        <li></li>
        <p>
          La version de base du bot est entièrement gratuite. Il existe
          également des plans payants qui suppriment les limites imposées par la
          version gratuite du Bot. Pour en savoir plus, cliquez sur le bouton
          "Acheter"
        </p>
        <li class="question">
          Est-il possible de gagner de l'argent avec celui-ci ?
        </li>
        <li></li>
        <p>
          Grâce aux avantages donnés par le Bot, l'achat-revente sur Vinted est
          rendu beaucoup plus facile et permet de réaliser un profit de plus
          grande taille.
        </p>
        <li class="question">
          J'ai décidé d'acheter le Bot, quand celui-ci va-t-il être mis en place
          ?
        </li>
        <li></li>
        <p>
          Grâce à Discord Linked Roles, vous pouvez commencer à utiliser notre
          bot dès maintenant ! Pour réclamer votre abonnement, cliquez sur le
          nom du serveur, accédez à la page des rôles liés et sélectionnez votre
          abonnement. Une fois que vous avez réclamé votre rôle, vous aurez
          accès à toutes les fonctionnalités du bot. Si vous rencontrez des
          problèmes lors du processus de configuration, n'hésitez pas à
          contacter notre équipe de support pour obtenir de l'aide. Nous sommes
          toujours là pour vous aider à tirer le meilleur parti de notre bot et
          garantir une expérience transparente pour vous et les membres de votre
          serveur.
        </p>
        <li class="question">Comment puis-je arrêter mon abonnement ?</li>
        <li></li>
        <p>
          Grâce à stripe, il est possible de gérer l'abonnement au Bot
          facilement, vous pouvez vous désabonner à tout instant en consultant
          votre boîte mail comportant les informations de facturation, si vous
          n'avez pas accès à celle-ci, vous pouvez contacter le staff afin de
          faire une demande d'arrêt d'abonnement. (Cette demande sera prise en
          charge sous 24h)
        </p>
      </ul>
    </div>
  </div>
</Layout>
