---
import Layout from '../../../layouts/Layout.astro'
---

<Layout title="Vinted Bot - Fonctionnalités" userLang="fr">
  <section id="main" class="container">
    <header>
      <h2>Fonctionnalités</h2>
      <p>Voici quelques fonctionnalités du Vinted Bot</p>
    </header>
    <div class="box">
      <h3>Suivi Vinted personnalisé</h3>
      <p>
        Avec la commande /sub, vous pouvez vous abonner à un mot-clé spécifique
        avec les filtres souhaités. Lorsqu'une nouvelle annonce est publiée avec
        ce mot-clé et/ou avec les filtres sélectionnés, vous recevrez une
        notification dans un salon Discord.
      </p>
      <img
        src="/images/example-fr.png"
        alt="example"
        style="width: 50%; display:
						block; margin-left: auto; margin-right: auto;"
      />
      <h3>Booster de vues</h3>
      <p>
        Avec la commande /views, vous pouvez augmenter les vues d'un article. Le
        bot ajoutera automatiquement le nombre de vues souhaité à l'article.
      </p>
      <img
        src="/images/views-fr.png"
        alt="views"
        style="width: 50%; display:
						block; margin-left: auto; margin-right: auto;"
      />
      <h3>Informations utilisateur avancées</h3>
      <p>
        En cliquant sur le bouton "Informations vendeur" sur n'importe quelle
        notification, vous recevrez un message contenant une note de confiance
        et d'autres informations sur l'utilisateur.
      </p>
      <img
        src="/images/userinfo-fr.png"
        alt="seller-info"
        style="width: 50%;
						display: block; margin-left: auto; margin-right: auto;"
      />
      <h3>Analyse de recherches</h3>
      <p>
        Avec la commande /analytics, vous pouvez obtenir un rapport détaillé sur
        le prix des articles de votre recherche.
      </p>
      <img
        src="/images/analytics-fr.png"
        alt="analytics"
        style="width: 50%;
						display: block; margin-left: auto; margin-right: auto;"
      />
    </div>
  </section>
</Layout>
