---
import Layout from '../../../layouts/Layout.astro'
---

<Layout
  title="Bot Vinted rapide et abordable - Automatisez vos activités Vinted"
  userLang="fr"
>
  <!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h2>Vinted Bot</h2>
        <p>
          La meilleure solution de suivi en direct d'articles<br />
          Rapide et performant, le bot garantit un profit
        </p>
      </header>
      <span class="image"><img src="/images/vinted.webp" alt="" /></span>
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
  </section>

  <!-- One -->
  <section id="one" class="spotlight style1 bottom">
    <span class="image fit main"
      ><img src="/images/discordnotif.jpeg" alt="" /></span
    >
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-4 col-12-medium">
            <header>
              <h2>Notifications sur tous vos appareils</h2>
              <p>
                Le Bot utilise le système de notifications intégré dans discord
                afin de vous notifier le plus rapidement possible.
              </p>
            </header>
          </div>
          <div class="col-4 col-12-medium">
            <p>
              Soyez notifié dès l'arrivée d'un article recherché grâce aux
              notifications envoyées via discord. Dominez le marché de
              l'achat-revente en utilisant le système de notifications pour être
              au courant des sorties des plus importants articles.
            </p>
          </div>
          <div class="col-4 col-12-medium">
            <p>
              Que vous soyez sur iPhone, Mac, Windows, Linux, ou Android recevez
              vos notifications à tout instant. Discord permet une compatibilité
              avec tous vos appareils.
            </p>
          </div>
        </div>
      </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
  </section>

  <!-- Two -->
  <section id="two" class="spotlight style2 right">
    <span class="image fit main"><img src="/images/speed.svg" alt="" /></span>
    <div class="content">
      <header>
        <h2>Rapide et efficace</h2>
        <p>Devancez la concurrence grâce à sa vitesse</p>
      </header>
      <p>
        Les requêtes d'actualisations effectuées par le Bot sont émises depuis
        plusieurs data centers afin de permettre une rapidité inégalable.
      </p>
      <ul class="actions">
        <li><a href="https://docs.vintedbot.com/docs/intro" class="button" target="_blank">Plus d'informations</a></li>
      </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
  </section>

  <!-- Three -->
  <section id="three" class="spotlight style3 left">
    <span class="image fit main bottom"
      ><img src="/images/prix.svg" alt="" /></span
    >
    <div class="content">
      <header>
        <h2>Un prix abordable</h2>
        <p>
          Un forfait gratuit est disponible, le forfait payant est accessible
          pour seulement 5€ par mois sans jamais augmenter de prix.
        </p>
      </header>
      <p>
        Nous offrons actuellement l'un des tarifs les plus abordables. Le prix
        est utilisé pour couvrir les coûts des data centers, le temps de
        développement et le support disponible chaque jour de la semaine.
      </p>
      <ul class="actions">
        <li><a href="tarification" class="button">Plus d'informations</a></li>
      </ul>
    </div>
    <a href="#four" class="goto-next scrolly">Next</a>
  </section>

  <!-- Four -->
  <section id="four" class="wrapper style1 special fade-up">
    <div class="container">
      <header class="major">
        <h2>
          N'attendez pas, essayez la <a href="pricing">version gratuite !</a>
        </h2>
        <p>
          Le nombre de places disponibles afin d'utiliser le Bot est limité,
          pourquoi attendre quand l'opportunité est toujours présente.
        </p>
      </header>
      <div class="box alt">
        <div class="row gtr-uniform">
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-chart-area"></span>
            <h3>Prix</h3>
            <p>
              Un prix fixe permettant de réaliser un profit facilement avec la
              revente d'articles.
            </p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-comment"></span>
            <h3>Support</h3>
            <p>
              Le support est disponible tous les jours afin de vous aider en cas
              de problème.
            </p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-flask"></span>
            <h3>Développement</h3>
            <p>
              Le Bot est régulièrement mis à jour afin de proposer un service
              toujours aussi performant.
            </p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-paper-plane"></span>
            <h3>Notifications</h3>
            <p>
              Recevez des notifications dès l'apparition des articles souhaités.
            </p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-file"></span>
            <h3>Stable</h3>
            <p>
              Grâce aux multiples data centers utilisés, le Bot ne sera jamais
              hors-ligne.
            </p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-lock"></span>
            <h3>Sécurisé</h3>
            <p>
              Les paiements sont effectués via Stripe, l'une des plateformes les
              plus sécurisées et connues dans le domaine du paiement en ligne.
            </p>
          </section>
        </div>
      </div>
      <footer class="major">
        <ul class="actions special">
          <li><a href="tarification" class="button">Acheter</a></li>
        </ul>
      </footer>
    </div>
  </section>
</Layout>
