---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Vinted Bot - Inscription" userLang="fr">
  <!-- Main -->
  <article id="main">
    <header class="special container">
      <h2><span class="icon solid fa-lock"></span> Inscription</h2>
      <p>Créez des identifiants pour vous inscrire</p>
    </header>

    <form class="signup">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Votre email.." />
      <br />
      <label for="password">Mot de passe</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Votre mot de passe.."
      />
      <br />
      <input type="checkbox" id="terms" name="terms" value="terms" />
      <label for="terms"
        >En m'inscrivant, j'accepte les <a href="privacy"
          >Termes et conditions</a
        ></label
      >
      <br />
      <input type="submit" value="Inscription" />
      <p class="error"></p>
      <br />
      <p id="login">Vous avez déjà un compte? <a href="connexion">Connexion</a></p>
    </form>
  </article>
</Layout>
<style lang="scss">
  .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #email, #password, #terms, #login {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #email, #password {
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  // make the label go on the left of the input
  label {
    display: inline-block;
    width: 30%;
    text-align: left;
    margin: 0;
  }
  .special {
    margin-top: 2%;
    text-align: center;
  }
input {
  margin-top: 16px;
}

  @media screen and (max-width: 738px) {
    #email, #password, #terms, #login {
      width: 80%;
    }
    label {
      width: 80%;
    }
    
  }
</style>